.row
	h2.col
		i.job-title= job.get("title")
		if job.get("company")
			span!="&nbsp;-&nbsp;"
			i.company-name!= job.get("company")
.row
	.col
		i.company-location.city-state= job.get("location")
	.col.job-date-range
		i.job-start.month-year= $utils.shortDate(job.get("start-date"))
		span!="&nbsp;-&nbsp;"
		if job.get("end-date")
			i.job-end.month-year= $utils.shortDate(job.get("end-date"))
		else
			i.job-end.month-year Present